.header {
  width: 100%;
  background: #ffffff;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6c4f3d;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navList li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  transition: color 0.3s ease;
}

/* .navList a:hover {
  color: #959595;
} */


/* Mobile Responsive */
.menuToggle {
  display: none;
  /* Hidden on desktop */
  font-size: 2rem;
  cursor: pointer;
}

/* Show the menu toggle and hide nav items on smaller screens */
@media (max-width: 768px) {
  .menuToggle {
    display: block;
    /* Show the menu icon */
  }

  .navList {
    display: none;
    /* Hide menu by default */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  .navList.active {
    display: flex;
    /* Show menu when active */
  }
}