.hero {
    width: 100%;
    /* background-color: #f4f1ea; */
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .colText {
    flex: 1;
    padding: 100px;
  }
  
  .colText h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #6c4f3d;
  }
  
  .colText p {
    font-size: 1.2rem;
    color: #555;
    margin: 1rem 0;
  }
  
  .colImage {
    /* flex: 1; */
    display: flex;
    justify-content: center;
  }
  
  .colImage img {
    max-width: 100%;
    height: auto;
    /* border-radius: 80px; */
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      text-align: center;
    }
  }
  