.gerny {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.gerny span {
    margin-right: 40px;
    margin-left: 40px;
}



.mybagbody img {
    width: 30%;
}

.mybagbody li {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.mybagbody ul {
    height: 325px;
}

/* .mybagbody .martop {
    margin-top: 15px;
} */

/* .mybagbody .martop2 {
    margin-top: 30px;
} */

.mybagbody .bagdetail {
    padding: 0px 25px;
}

.mybagbody li div:first-child {
    justify-content: end;
    display: flex;
}



.totalcount {
    display: flex;
    justify-content: space-around;
    margin-top: 20px
}

.totalcountmain {
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: white;
}

.totalcountfinal {
    border-top: 1px solid rgb(218, 218, 218);
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px
}

.purchasbtn {
    text-align: center;
    border: none;
}

.purchasbtn button {
    border: 0;
    border-color: #5a8dee !important;
    background-color: #5a8dee !important;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
}

.alignmentsummary {
    margin: 100px !important;
    background-color: gray !important;
    padding: 20px !important;
}

.detaildiliviry input {
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background: #fbfbfb;
}
.detaildiliviry select{
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background: #fbfbfb;
}
.detaildiliviry .inputfeilddata div {
    padding: 10px;
}

.detaildiliviry .inputfeilddata {
    padding: 0px 60px;
}