.text-primary {
    color: #5a8dee !important;
}

.btn-primary {
    border-color: #5a8dee !important;
    background-color: #5a8dee !important;
    color: #fff;
}

.shadow-md {
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}

.navbar {
    border-radius: 5px;
}

.sidebar {
    width: 400px;
    min-height: 100vh;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    background-color: #fff;
    position: fixed;
    top: 0;
    /* left: -100%; */
    z-index: 1;
    transition: 0.5s;
}

.sidebar.active {
    /* left: 0; */
    right: 0;
}

.sd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}

.sd-body {
    padding: 15px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
}

.sd-body img {
    width: 20%;
}

.sd-body li {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.sd-body ul {
    height: 325px;
}

.sd-body .martop {
    margin-top: 15px;
}

.sd-body .martop2 {
    margin-top: 30px;
}

.sd-body .bagdetail {
    padding: 0px 25px;
}

.totalcount {
    display: flex;
    justify-content: space-around;
    margin-top: 10px
}

.totalcountmain {
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: white;
}

.totalcountfinal {
    border-top: 1px solid rgb(218, 218, 218);
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px
}

.purchasbtn {
    text-align: center;
    border: none;
    margin-bottom: 10px;
}

.purchasbtn button {
    border: 0;
    border-color: #5a8dee !important;
    background-color: #5a8dee !important;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
}

.close {
    padding: 0px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background: #f6f6ff;
}

/* .sd-body ul{
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      padding: 0;
  }
  .sd-body ul li{
      list-style: none;
      margin-bottom: 8px;
  }
  .sd-body ul li .sd-link{
      display: inline-block;
      width: 100%;
      padding: 10px 16px;
      color: #475f7b;
      background-color: #e5e8ec;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
  } */