.align {
    margin: 0 52px;
}

.padtop {
    padding: 10px 0px;

}

.spanalin {
    display: flex;
    gap: 40px;
}

.addbutton {
    display: flex;
    gap: 20px;
}

.addbutton button {
    padding: 16px 80px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 10px;
}

.bags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanalin span {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

/* .navigate {
    margin-top: 20px;
} */

.mainexpand {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 50px;
}

.mainexpand>div:first-child {
    flex: 0.70
}

.mainexpand .mainimg img {
    width: 100%;
}

.mainexpand>div:last-child {
    flex: 1;
    padding: 0px 49px;
}

.productdetails .head {
    font-size: 45px;
    font-family: initial;
    font-weight: 100;
}