.collection {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff;
}

h2 {
  font-size: 2.5rem;
  color: #6c4f3d;
  margin-bottom: 2rem;
}

.teaGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.teaCard {
  /* background: #f4f1ea;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.teaCard:hover {
  padding: 0;
  background: #f7efef;
}

.teaCard img {
  width: 100%;
  border-radius: 8px;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .teaGrid {
    grid-template-columns: 1fr;
  }
}