.about {
    /* padding: 4rem 2rem; */
    background-color: #fff;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .text {
   flex: 1;
    padding: 100px;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #6c4f3d;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .image {
    flex: 1;
    text-align: center;
  }
  
  .image img {
    width: 100%;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }