.whyUs {
  position: relative;
  width: 100%;
  height: 400px;
  background: url("../Images/whyus.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  /* background: rgba(0, 0, 0, 0.5); Dark overlay for better readability */
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.whyUs h2 {
  font-size: 25px;
  margin-bottom: 0;
  color: white;
}

.whyUs p {
  /* font-size: 1.4rem; */
  /* color: ghostwhite; */
  max-width: 471px;
}

/* Responsive */
@media (max-width: 768px) {
  .whyUs {
    height: 300px;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}